fail_fast: false
default_language_version:
  python: python3
default_stages:
  - pre-commit
  - pre-push
minimum_pre_commit_version: 2.16.0
repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --unsafe-fixes]
        exclude: |
          (?x)^(
              jupyter-book/chromatin_accessibility/gene_regulatory_networks_atac.ipynb
          )$
      - id: ruff-format
        exclude: |
          (?x)^(
              jupyter-book/conditions/differential_gene_expression.ipynb|
              .mypy_cache|
              .pytest_cache|
              dist|
              jupyter-book/chromatin_accessibility/gene_regulatory_networks_atac.ipynb
          )$
