fail_fast: false
default_language_version:
  python: python3
default_stages:
  - commit
  - push
minimum_pre_commit_version: 2.16.0
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black-jupyter
        exclude: |
          (?x)^(
              jupyter-book/conditions/differential_gene_expression.ipynb|
              .mypy_cache|
              .pytest_cache|
              dist
          )$
