
/* Large slides iframes */


iframe {
    /* The constant in these values must be adjusted if the theme changes */
    height: calc(100vh - 14ex);
    position: fixed;
    z-index: 1000;
    border-color: #AAA;
    border-style: solid;
}

@media only screen and (max-width : 768px) {
    /* Small screen */
    iframe {
	width: 100%;
	left: 0px;
    }
}

@media only screen and (min-width : 768px) {
    /* Large screen, the sidebar is on the side */
    iframe {
	max-width: calc(min(50vw + 380px, 100vw - 320px));
	width: 1200px;
    }
}

/* Remove the HTML side bar for the generated PDF*/
@media print {
    .bd-toc {
        visibility: hidden;
    }
}

/* Remove the complete side bar for the generated PDF*/
@media print {

    div.topbar {
        display: none;
    }

    .pr-md-0 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

}

/* Do not display any glossary terms that are siblings of the first term */
dl.glossary dt + dt {
    display: none;
}
