title: Single-cell best practices
author: Lukas Heumos, Anna Schaar
logo: logo.png

description: >-
  Tutorials and guidelines for unimodal and multimodal single-cell data analysis.
exclude_patterns:
  - _build
  - Thumbs.db
  - .DS_Store
  - "**.ipynb_checkpoints"
  - "figures"
  - "datasets"
  - "README.md"

execute:
  execute_notebooks: "off"
  timeout: 600000

parse:
  myst_enable_extensions:
    - colon_fence
    - dollarmath
    - linkify
    - substitution
    - html_image

html:
  home_page_in_navbar: false
  use_edit_page_button: true
  use_repository_button: true
  use_issues_button: true
  favicon: _static/favicon.ico
  comments:
    hypothesis: true
  extra_footer: |
    <div>
      Brought to you by
      <a href="https://www.github.com/theislab">Theislab</a>, with many thanks to the single-cell community as a whole!
    </div>

latex:
  latex_engine: "xelatex"
  latex_documents:
    targetname: book.tex

notebook_interface: "notebook"

sphinx:
  config:
    nb_custom_formats:
      .py:
        - jupytext.reads
        - fmt: py:percent
    # Needed for plotly rendering:
    # https://jupyterbook.org/interactive/interactive.html#plotly
    html_js_files:
      - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js
    bibtex_reference_style: author_year
    language: en

bibtex_bibfiles:
  - preamble.bib
  - outlook.bib
  - introduction/prior_art.bib
  - introduction/raw_data_processing.bib
  - introduction/scrna_seq.bib
  - introduction/analysis_tools.bib
  - preprocessing_visualization/quality_control.bib
  - preprocessing_visualization/normalization.bib
  - preprocessing_visualization/feature_selection.bib
  - preprocessing_visualization/dimensionality_reduction.bib
  - cellular_structure/annotation.bib
  - cellular_structure/clustering.bib
  - cellular_structure/integration.bib
  - trajectories/lineage_tracing.bib
  - trajectories/pseudotemporal.bib
  - conditions/differential_gene_expression.bib
  - conditions/compositional.bib
  - conditions/gsea_pathway.bib
  - conditions/perturbation_modeling.bib
  - deconvolution/bulk_deconvolution.bib
  - surface_protein/references.bib
  - air_repertoire/references.bib
  - multimodal_integration/paired_integration.bib
  - multimodal_integration/advanced_integration.bib
  - spatial/spatial.bib

repository:
  url: https://github.com/theislab/single-cell-best-practices
  branch: master

binder:
  binderhub_url: "https://mybinder.org"
  text: "Launch binder"
